*~
*.aux
*.fdb_latexmk
/*.bak
/*.bbl
/*.blg
/*.dvi
/*.fls
/*.log
/*.out
/*.toc
/*.pdf
/rev.tex
*.synctex.gz
/abstract.txt
/code/*.tex
!/code/fmt.tex
!/fig/*.pdf
!/fig/*.eps
/data/*.pdf
/data/*.eps
/data/*.tex
.latexrun.db
/auto
/Users
.vscode/
*.swp
diff.tex
